<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-md-10 offset-md-10">
      <%= link_to all_destroy_cart_items_path, method: :delete do %>
        <button type="button" class="btn btn-danger">カートを空にする</button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <% @cart_items.each do |item| %>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, format: 'jpg', fallback: "logo.png", size: '60x60' %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= number_to_currency(cart_item.item.price * 1.08, unit: "￥", strip_insignificant_zeros: true) %>
            </td>
            <td>
              <%= form_for(cart_item) do |f| %>
                <%= f.number_field :amount, min:1, style: "width: 50%" %>
                <%= f.submit '変更', class: "btn btn-success" %>
              <% end %>
            </td>
            <td>
              <%= number_to_currency(cart_item.item.price * cart_item.amount * 1.08, unit: "￥", strip_insignificant_zeros: true) %>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.id), method: :delete do %>
                <button type="button" class="btn btn-danger">削除する</button>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= link_to root_path do %>
        <button type="button" class="btn btn-primary">買い物を続ける</button>
      <% end %>
    </div>
    <div class="col-md-3 offset-md-10">
      <table class="table table-bordered">
        <tr>
          <td>合計金額</td>
          <td>
            <%= number_to_currency(@cart_items.map{ |cp| (cp.item.price * cp.amount * 1.08)}, unit: "￥", strip_insignificant_zeros: true) %>円
          </td>
        </tr>
      </table>
    </div>
  </div>

  <% if current_customer.cart_items.present? %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= link_to new_order_path do %>
        <button type="button" class="btn btn-success">情報入力にすすむ</button>
      <% end %>
    </div>
  </div>
  <% end %>
</div>