<div class="container mt-5">
  <div class="form-horizontal">

    <h3>ログイン</h3>
    <h5 class="mt-3">会員の方はこちらからログイン</h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    <% end %>

    <h4 class="bg-light mt-4">既に登録済みの方</h4>

    <div class="col-auto">
      <span><a href="/customers/sign_up">こちら</a> から新規登録を行ってください</span>
    </div>
  </div>
</div>